[project]
	description = Fast and simple data storage library for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aleksey Masny (pilgr)
[access "refs/for/refs/*"]
	read = group user/Aleksey Masny (pilgr)
	push = group user/Aleksey Masny (pilgr)
	label-Code-Review = -2..+2 group user/Aleksey Masny (pilgr)
	label-Verified = -1..+1 group user/Aleksey Masny (pilgr)
	rebase = group user/Aleksey Masny (pilgr)
	removeReviewer = group user/Aleksey Masny (pilgr)
	submit = group user/Aleksey Masny (pilgr)
[access "refs/heads/*"]
	read = group user/Aleksey Masny (pilgr)
	create = group user/Aleksey Masny (pilgr)
	push = +force group user/Aleksey Masny (pilgr)
	pushMerge = group user/Aleksey Masny (pilgr)
[access "refs/tags/*"]
	push = +force group user/Aleksey Masny (pilgr)
	pushTag = group user/Aleksey Masny (pilgr)
	pushSignedTag = group user/Aleksey Masny (pilgr)
